<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px"></p>

# Preprocessing the Data


<br>


💰Join our community: https://discord.gg/wXjNPAc5BH

📚Read our book: https://www.amazon.com/gp/product/B09HG18CYL 

🖥️Quantreo's YouTube channel: https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.69-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.4 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.27.1 yfinance-0.1.69

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

# Manage the data which come from MT5 (manually)

In [ ]:
# Import brut data
df = pd.read_csv("EURUSD_D1.csv")
df

     <DATE>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0     2011.01.03\t1.33443\t1.33945\t1.32501\t1.33499...
1     2011.01.04\t1.33507\t1.34330\t1.32919\t1.33104...
2     2011.01.05\t1.33099\t1.33247\t1.31255\t1.31485...
3     2011.01.06\t1.31495\t1.31699\t1.29834\t1.30022...
4     2011.01.07\t1.30018\t1.30206\t1.29044\t1.29055...
...                                                 ...
2861  2022.01.10\t1.13550\t1.13599\t1.12853\t1.13252...
2862  2022.01.11\t1.13230\t1.13753\t1.13131\t1.13666...
2863  2022.01.12\t1.13655\t1.14528\t1.13545\t1.14411...
2864  2022.01.13\t1.14402\t1.14817\t1.14357\t1.14539...
2865  2022.01.14\t1.14531\t1.14829\t1.13987\t1.14151...

[2866 rows x 1 columns]

In [ ]:
# Add the delimiter
df = pd.read_csv("EURUSD_D1.csv", delimiter="\t")
df

          <DATE>   <OPEN>   <HIGH>  ...  <TICKVOL>  <VOL>  <SPREAD>
0     2011.01.03  1.33443  1.33945  ...      63214      0         9
1     2011.01.04  1.33507  1.34330  ...      80673      0         8
2     2011.01.05  1.33099  1.33247  ...      83725      0         8
3     2011.01.06  1.31495  1.31699  ...      73723      0         8
4     2011.01.07  1.30018  1.30206  ...      82379      0         8
...          ...      ...      ...  ...        ...    ...       ...
2861  2022.01.10  1.13550  1.13599  ...      53457      0         0
2862  2022.01.11  1.13230  1.13753  ...      49386      0         0
2863  2022.01.12  1.13655  1.14528  ...      51872      0         0
2864  2022.01.13  1.14402  1.14817  ...      53078      0         0
2865  2022.01.14  1.14531  1.14829  ...      59882      0         0

[2866 rows x 8 columns]

In [ ]:
# Preprocessing function

def preprocessing(name):
  
  # Import the data
  df = pd.read_csv(name, delimiter="\t", index_col="<DATE>", parse_dates=True).dropna()

  # Delete the two last columns
  df = df.iloc[:,:-2]

  # Rename
  df.columns = ["open", "high", "low", "close", "volume"]
  df.index.name = "time"

  return df

In [ ]:
df = preprocessing("EURUSD_D1.csv")
df

               open     high      low    close  volume
time
2011-01-03  1.33443  1.33945  1.32501  1.33499   63214
2011-01-04  1.33507  1.34330  1.32919  1.33104   80673
2011-01-05  1.33099  1.33247  1.31255  1.31485   83725
2011-01-06  1.31495  1.31699  1.29834  1.30022   73723
2011-01-07  1.30018  1.30206  1.29044  1.29055   82379
...             ...      ...      ...      ...     ...
2022-01-10  1.13550  1.13599  1.12853  1.13252   53457
2022-01-11  1.13230  1.13753  1.13131  1.13666   49386
2022-01-12  1.13655  1.14528  1.13545  1.14411   51872
2022-01-13  1.14402  1.14817  1.14357  1.14539   53078
2022-01-14  1.14531  1.14829  1.13987  1.14151   59882

[2866 rows x 5 columns]

# Manage the data which come from Yfinance

In [ ]:
yf.download("EURUSD=X")

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2003-12-01  1.203398  1.204007  1.194401  1.196501   1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897   1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298   1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094   1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695   1.218695       0
...              ...       ...       ...       ...        ...     ...
2022-01-17  1.141214  1.143458  1.139315  1.141070   1.141070       0
2022-01-18  1.141292  1.142335  1.132965  1.141057   1.141057       0
2022-01-19  1.133003  1.135680  1.131952  1.132965   1.132965       0
2022-01-20  1.134353  1.136893  1.133016  1.134340   1.134340       0
2022-01-21  1.131542  1.136105  1.130224  1.131375   1.131375       0

[4706 rows x 6 columns]

In [ ]:
def preprocessing_yf(symbol):
  
  #Import the data
  df = yf.download("EURUSD=X").dropna()

  #Rename
  df.columns = ["open", "high", "low", "close", "adj close", "volume"]
  df.index.name = "time"

  # Remove adj close
  del df["adj close"]

  return df

df = preprocessing_yf("EURUSD=X")
df

[*********************100%***********************]  1 of 1 completed

                open      high       low     close  volume
time
2003-12-01  1.203398  1.204007  1.194401  1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695       0
...              ...       ...       ...       ...     ...
2022-01-17  1.141214  1.143458  1.139315  1.141070       0
2022-01-18  1.141292  1.142335  1.132965  1.141057       0
2022-01-19  1.133003  1.135680  1.131952  1.132965       0
2022-01-20  1.134353  1.136893  1.133016  1.134340       0
2022-01-21  1.131542  1.136105  1.130224  1.131375       0

[4706 rows x 5 columns]